@media screen and (min-width:1000px) {
    /* signin */
#jump-box {
    background-color: #ff6e2f;
    width: 400px;
    height: 600px;
}
.close {
    font-size: 30px;
    padding-right: 15px;
    padding-top: 10px;
}
.bighead {
    width: 120px;
    height: 120px;
    margin: 15px auto 0;
    border-radius: 50%;
    overflow: hidden;
}
.welcome {
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0 15px 0;
    margin: 0 50px;
}
.welcome span {
    font-size: 10px;
}
.account {
    margin: 25px auto 0;
}
.account .item {
    border-bottom: 1px solid #fff;
}
#jump-box input {
    height: 35px;
    width: 200px;    
}
#jump-box ::-webkit-input-placeholder, #jump-box td i {
    font-size: 18px;
}
.account .btn span {
    font-weight: 700;
    line-height: 35px;
    width: 100px;
    margin: 25px 0 10px;
}
table .help {
    padding-top: 20px;
}
/* header */
#header {
    position: relative;
}
#header .navTop .logo {
    width: 250px;
    height: 70px;
}
#header .slider {
    margin-top: 115px;
}
#header .navTop ul {
    padding-right: 20px;
    height: 70px;
}
#header .navTop li {
    line-height: 70px;
    float: left;
    /* padding: 0 5px; */
    color: #333;
}
#header .navTop li .regist, #header .navTop li .login, #header .navTop .logout, #header .navTop .membercenter {
    font-weight: 400;
    font-size: 22.5px;
    padding: 0 5px;
}

#header #memberCenter {
    width: 200px;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    border: 1.5px solid #ff6e2f;
    color: #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    right: 10px;
    top: 70px;
    background-color: #fff;
    box-shadow: 1px 1px 3px#703715;
    position: fixed;
    z-index: 998;
    display: none;   
}
#header #memberCenter li {
    border-bottom: .3px solid #a3a3a3; 
    line-height: 30px;
    margin: 0 10px;
}
#header #memberCenter .logout {
    /* text-align: right; */
    border-bottom: none;
}
#header .navTop .hello {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}
#header .sub-nav {
    height: 45px;
}
/* slider */
#header .slider {
    height: 500px;
}
#header img {
    width: 100%;
}
#header .slider .photo {
    float: left;
    height: 500px;
}
/* main content */
#main .mainWrapper {
    padding: 50px 0;
}
#main h1, #location .title h2 {
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 30px;
}
#main .mainWrapper input[type=checkbox] {
    width: 15px;
    height: 15px;
}
#main .mainWrapper .step-1 ul, #main .mainWrapper .step-2, #main .mainWrapper .step-3 table  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main .mainWrapper li input[type="text"],#main .mainWrapper li select {
    width: 70px;
}
#step-3 .check-all, #step-3 ul, #step-3 ul li {
    float: left;
}
#step-3 .check-all {
    height: 1200px;
    width: 20%;
    margin-top: 10px;
}
#step-3 ul {
    width: 80%;
}
#step-3 li {
    line-height: 30px;
}
#step-3 .college span {
    display: inline-block;
    width: 200px;
}
#step-3 .area{
    width: 100%;
    margin-top: 10px;
}
#step-3 .type{
    width: 30%;
}
#step-3 .college{
    width: 70%;
}
#main .search .btn {
    width: 150px;
    font-size: 25px;
    border-radius: 50px;
    letter-spacing: 3px;
}
/* location */
#location {
    padding: 50px 0;
    background-color: #eee;
}
#location .info {
    padding-top: 50px;
}
#location .info nav a {
    line-height: 30px;
    font-size: 20px;
    margin: 0 8px;
}
#location .info ul {
    padding: 0 15px;
}
#location .info ul li {
    float: left;
    padding-top: 25px;
}
/* 相關聯結 */
footer #relationLink nav {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1.5px solid #C9BC9C;
}
#relationLink nav div {
    display: inline-block;
    vertical-align: middle;
}
#relationLink nav .youth {
    padding: 0 10px 0 15px;
    margin-right: 20px;
}
#relationLink nav .realgood, #relationLink nav .tkb{
    border-right: 1px solid #dcdcdc;
}
#relationLink .server {
    padding: 0 155px;
}
#relationLink .server p {
    display: inline-block;
    line-height: 40px;
}
}