:root {
    --primeryColor: #C9BC9C;
    --secondary: #6A3906;
    --third: #C9CACA;
}
/* signin */
.container {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: rgba(139, 139, 139, 0.781);
    position: absolute;
    display: none;
    z-index: 9999;
}

#jump-box {
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 6px #fff4eb;
}
.close {
    cursor: pointer;
    /* display: inline-block; */
    position: static;
}
.close i {
    float: right;
    cursor: pointer;
    }
.close i:hover {
    color: #5f5f5f;
}
#jump-box .images{
    width: 78%;
    margin: auto;
    margin-top: 45px;
} 
img {
    width: 100%;
}
.welcome {
    text-align: center;
    border-bottom: 1px dotted #fff;
    letter-spacing: 3px;
    color: #fff;
}

#jump-box input {
    margin: 5px 0;
    background-color: transparent;
    border: none;
    outline: none;
}
#jump-box td i {
    color: rgba(255, 255, 255, 0.7);
    margin: 0 8px 0 ;
}
#jump-box ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
table .help {
    text-align: center;
}
table .btn {
    text-align: center;
}
table .btn span {
    display: inline-block;
    border-radius: 50px;
    letter-spacing: 1px;
    color: #632800;
    background-color: #fff;
    cursor: pointer;
}
table .btn span:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #ff641c;
}
table .help a {
    color: #6A3906;
}
table .help a:hover {
    color: #ff9b31;
}
/* header */
#header .navTop {
    background-color: #EA5514;
    top: 0;
    z-index: 999;
    position: fixed;
}
#header .navTop .logo {
    float: left;
    padding: 0 10px;
    background-image: linear-gradient(#EA5514,#EA5514);
    background-repeat: no-repeat;
    background-position: center;
}
#header .navTop ul {
    float: right;
}

#header .hamburger, #header .navTop .hello {
    display: none;
}
#header .navTop .hello {
    color: #fff;
}
#header .nav-bar {
    background-color: #ea5514;
    opacity: 0.8;
    text-align: center;
    position: fixed;
    top: 70px;
    z-index: 997;
}
#header .nav-bar ul {
    font-size: 18px;
    display: inline-block;
}
#header .nav-bar ul li {
    float: left;
    padding: 0 15px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 1px;
}
#header .nav-bar ul li a {
    color: #fff;
}
#header .nav-bar ul li a:hover {
    color: #333;
}

/* carousel */
#header .slider {
    overflow: hidden;
}
#header .slider .photo {
    float: left;
}
.control-nav {
    text-align: center;
    position: relative;
}
.control-nav .prev i {
    padding-right: 20px;
    padding-top: 10px;
    position: absolute;
    top: 180px;
    bottom: 0px;
    left: 30px;
}
.control-nav .next i {
    padding-left: 20px;
    padding-top: 10px;
    position: absolute;
    top: 180px;
    bottom: 0px;
    right: 30px;
}
/* 內容內頁 */

#main .goTop {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: fixed;
    bottom: 70px; 
    right: 30px;
    background-color: #6A3906;
    box-shadow: 3px 3px 6px #7c6751;
    line-height: 45px;
    text-align: center;
    font-weight: 500;
    z-index: 999;
}
#main .goTop a {
    color: #fff;
}
#main .goHome {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px; 
    right: 32px;
    z-index: 999;
}
#main h1 {
    text-align: center;
    letter-spacing: 8px;
    border-bottom: .3px solid #555;
}
#main h1 span, #location .title span {
    font-size: 8px;
    color: #555;
}
#main .mainWrapper .sTitle {
    font-size: 20px;
    padding-top: 15px;
}
#main .mainWrapper li input[type="text"],#main .mainWrapper li select {
    height: 30px;
    border: 1px solid #6A3906;
    border-radius: 3px;
}
#main .mainWrapper ul li {
    line-height: 30px;
}
#main .line {
    border-top: 0.3px solid #555;
    padding: 15px;
    margin-top: 20px;
}
#main .search {
    text-align: center;    
    margin-bottom: 100px;
    height: 50px;
}
#main .search .btn {
    line-height: 40px;
    background-color: #C9BC9C;
    padding: 8px 15px;
}
#main .search a:hover {
    color: #fff;
}
#main .search .btn:hover {
    background-color: #6A3906;
}
/* 甄戰據點 */
#location .title h2 {
    text-align: center;
    letter-spacing: 8px;
}
#location .info nav {
    position: relative;
    line-height: 30px;
    margin-bottom: 20px;
}
#location .info nav a {
    font-weight: normal;
    letter-spacing: 2px;
    background-color: #C9BC9C;
    text-align: center;
}
#location .info nav a:hover {
    background-color: #A48B78;
    color: #fff;
}
#location .info ul h3 {
    padding-left: 10px;
    /* margin-left: 5px; */
    border-left: 8px double #C9BC9C;
    font-size: 25px;
    letter-spacing: 5px;
    color: #6A3906;
}

#location .info li p, #location .info li a,#location .info li span {
    font-size: 17.5px;
    line-height: 27.5px;
}
#location .info li i {
    padding-right: 5px;
    color: #333;
}

/* 相關連結 */
#relationLink {
    padding: 50px 0 80px 0;
}
/* #relationLink .crossLine {
    line-height: 30px;
    border-bottom: 1.5px solid var(--primeryColor);
} */
#relationLink p {
    text-align: center;
    color: #aaa;
}
#relationLink .server span {
    margin: 0 10px;
}
