@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

* {
    font-family: "Roboto", "Noto Sans TC";
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,img,table {
    margin: 0;
    padding: 0;
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    width: 100%;
    vertical-align: top;
}
/* mobile */
@media screen and (max-width:520px) {
.col-s-12 {
    width: calc(100% / 12 * 12);
};
.col-s-11 {
    width: calc(100% / 12 * 11);
};
.col-s-10 {
    width: calc(100% / 12 * 10);
};
.col-s-9 {
    width: calc(100% / 12 * 9);
};
.col-s-8 {
    width: calc(100% / 12 * 8);
};
.col-s-7 {
    width: calc(100% / 12 * 7);
};
.col-s-6 {
    width: calc(100% / 12 * 6);
};
.col-s-5 {
    width: calc(100% / 12 * 5);
};
.col-s-4 {
    width: calc(100% / 12 * 4);
};
.col-s-3 {
    width: calc(100% / 12 * 3);
};
.col-s-2 {
    width: calc(100% / 12 * 2);
};
.col-s-1 {
    width: calc(100% / 12 * 1);
};

[class*="col-s"] {
    float: left;
    padding: 8x;
}

.full-width {
    width: 100%;
}

.fixed-width {
    width: 380px;
}
/* signin */
#jump-box {
    background-color: #ff8551;
    width: 250px;
    height: 380px;
}
.close i {
    font-size: 18px;
    padding-right: 12px;
    padding-top: 10px;
}
.bighead {
    width: 80px;
    height: 80px;
    margin: 15px auto 0;
    border-radius: 50%;
    overflow: hidden;
}
.welcome {
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0 8px;
    margin: 0 35px;
}
.welcome span {
    font-size: 8px;
}
.account {
    margin: 0 auto ;
}
.account .item {
    border-bottom: 0.5px solid #fff;
}
#jump-box .account {
    width: 55%;
}
#jump-box input {
    height: 20px;
    width: 70%;
}
#jump-box ::-webkit-input-placeholder, #jump-box td i {
    font-size: 13px;
}
.account .btn span {
    line-height: 18px;
    font-weight: 500;
    font-size: 12px;
    margin: 15px auto 0;
    padding: 3px 10px;
}
.account .help {
    font-size: 10px;
}
table .help {
    padding-top: 5px;
}
/* header */
#header .navTop {
    height: 60px;
}
#header .navTop .logo {
    width: 170px;
    margin-top: 8px;
}
#header .navTop ul {
    height: 60px;
}
#header .navTop li, #header .navTop li .regist, #header .navTop li .login, #header .navTop li .hamburger {
    line-height: 60px;
    padding: 0 5px;
}
#header .navTop li .enter, #header .navTop li .hello {
    font-size: 18px;
}

#header .navTop li .login {
    padding-left: 6px;
}
/* slider */
#header .slider {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    overflow: hidden;
}
#header img {
    width: 100%;
}
/* main content */
#main .mainWrapper {
    padding: 50px 20px;
}
#main h1, #location .title h2 {
    font-size: 30px;
    font-weight: 450;
    padding-bottom: 20px;
}
#main .step-2 .check-all, #main dl table .check-all, #main .step-3 ul .check-all {
    width: 100%;
}
#main .step-2 .check {
    width: 50%;
}
#main .step-1 ul, #main .step-2, #main .step-3 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#main .step-1 ul li {
    margin: 0 3px;
}
#main .mainWrapper li input[type="text"] {
    width: 70px;
    height: 30px;
}
#main .mainWrapper li select {
    width: 70px;
    height: 28px;
}
#main .search .btn {
    width: 100px;
    font-size: 18px;
    border-radius: 50px;
    letter-spacing: 1.5px;
}

}






/* loptop */
@media screen and (min-width:768px) {
.col-m-12 {
    width: calc(100% / 12 * 12);
}
.col-m-11 {
    width: calc(100% / 12 * 11);
}
.col-m-10 {
    width: calc(100% / 12 * 10);
}
.col-m-9 {
    width: calc(100% / 12 * 9);
}
.col-m-8 {
    width: calc(100% / 12 * 8);
}
.col-m-7 {
    width: calc(100% / 12 * 7);
}
.col-m-6 {
    width: calc(100% / 12 * 6);
}
.col-m-5 {
    width: calc(100% / 12 * 5);
}
.col-m-4 {
    width: calc(100% / 12 * 4);
}
.col-m-3 {
    width: calc(100% / 12 * 3);
}
.col-m-2 {
    width: calc(100% / 12 * 2);
}
.col-m-1 {
    width: calc(100% / 12 * 1);
}

[class*="col-m"] {
    float: left;
    padding: 8px;
}

.full-width {
    width: 100%;
}

.fixed-width {
    width: 768px;
}
/* #header .slider {
    height: 400px;
    overflow: hidden;
} */
#header .navTop li .regist, #header .navTop li .login {
    /* font-weight: 400; */
    font-size: 10px;
    padding: 0 5px;
}

}





/* grid for desktop */
@media screen and (min-width:1000px) {
.col-12 {
    width: calc(100% / 12 * 12);
}
.col-11 {
    width: calc(100% / 12 * 11);
}
.col-10 {
    width: calc(100% / 12 * 10);
}
.col-9 {
    width: calc(100% / 12 * 9);
}
.col-8 {
    width: calc(100% / 12 * 8);
}
.col-7 {
    width: calc(100% / 12 * 7);
}
.col-6 {
    width: calc(100% / 12 * 6);
}
.col-5 {
    width: calc(100% / 12 * 5);
}
.col-4 {
    width: calc(100% / 12 * 4);
}
.col-3 {
    width: calc(100% / 12 * 3);
}
.col-2 {
    width: calc(100% / 12 * 2);
}
.col-1 {
    width: calc(100% / 12 * 1);
}

[class*="col"] {
    float: left;
    padding: 8px;
}

.full-width {
    width: 100%;
}

.fixed-width {
    width: 1180px;
    margin: auto;
}
/* signin */
#jump-box {
    background-color: #ff6e2f;
    width: 400px;
    height: 600px;
}
.close {
    font-size: 30px;
    padding-right: 15px;
    padding-top: 10px;
}
.bighead {
    width: 120px;
    height: 120px;
    margin: 15px auto 0;
    border-radius: 50%;
    overflow: hidden;
}
.welcome {
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0 15px 0;
    margin: 0 50px;
}
.welcome span {
    font-size: 10px;
}
.account {
    margin: 25px auto 0;
}
.account .item {
    border-bottom: 1px solid #fff;
}
#jump-box input {
    height: 35px;
    width: 200px;    
}
#jump-box ::-webkit-input-placeholder, #jump-box td i {
    font-size: 18px;
}
.account .btn span {
    font-weight: 700;
    line-height: 35px;
    width: 100px;
    margin: 25px 0 10px;
}
table .help {
    padding-top: 20px;
}
/* header */
#header .navTop .logo {
    width: 250px;
    height: 70px;
}
#header .slider {
    margin-top: 115px;
}
#header .navTop ul {
    padding-right: 30px;
    height: 70px;
}
#header .navTop li {
    line-height: 70px;
    float: left;
    padding: 0 10px;
    color: #333;
}
#header .navTop li .regist, #header .navTop li .login, #header .navTop .logout {
    font-weight: 400;
    font-size: 20px;
    padding: 0 5px;
}
#header .navTop .hello {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}
#header .sub-nav {
    height: 45px;
}
/* slider */
#header .slider {
    height: 500px;
}
#header img {
    width: 100%;
}
#header .slider .photo {
    float: left;
    height: 500px;
}
/* main content */
#main .mainWrapper {
    padding: 50px 0;
}
#main h1, #location .title h2 {
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 30px;
}
/* #main .mainWrapper .step-1 ul, #main .mainWrapper .step-2, #main .mainWrapper .step-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */
#main .mainWrapper li input[type="text"],#main .mainWrapper li select {
    width: 70px;
}
#main .search .btn {
    width: 150px;
    font-size: 25px;
    border-radius: 50px;
    letter-spacing: 3px;

}

}




a {
    text-decoration: none;
    color: #222222;
    cursor: pointer;
}

a:hover {
    color: #777;
}

li {
    list-style: none;
}