.condition {
    display: grid;
    grid-template-columns: 75% 25%;
}
.condition_1 {
    display: grid;
    grid-template-columns: 25% 75%;
}
.navCondition {
    border: .8px solid #555;
    border-radius: 15px;
    padding: 15px 10px;
    margin: 2px 3px;
    min-height: 35%;
}
.spin {
    padding: 3px 15px;
    border-radius: 45px;
    background-color: #ddd;
}