#mainContent {
    margin-top: 70px;
    padding: 50px 50px 50px 80px;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}
#mainContent .data {
    margin-top: 50px;
    padding-bottom: 30px;
    font-size: 18px;
    text-align: center;
}
#mainContent .data p {
    display: inline-block;
    padding-right: 5px;
}
#mainContent .data input {
    line-height: 20px;
}
#mainContent .btn a {
    display: inline-block;
    margin: 8px 5px 0;
    padding: 0 12px;
    background-color: #ffc880;
    border: 0.8px solid #ffb75a;
}
#mainContent .btn a:hover {
    background-color: #744926;
    color: #fff;
}
/* 結果資料 */
#mainContent .student_info {
    display: none;
    margin: 70px auto;
}
#mainContent .student-data {
    width: 50%;
    margin: 10px auto 20px;
    padding: 25px 0;
    position: relative;
    border: 1.5px solid #ccc;
    border-bottom: 5px double #ccc;
}
#mainContent .student-data .title {
    display: inline-block;
    position: absolute;
    background-color: #fff;
    padding: 0 15px;
    top: -20px;
    left: 5%;
    letter-spacing: 1px;
    font-size: 22.5px;
    font-weight: 450;
    color: #723300;
}
#mainContent .student-data ul {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-size: 16.5px;
    line-height: 35px;
}
#mainContent .student-data ul .item {
    padding-right: 20px;
    border-right: 1px solid #bbb;
}
#mainContent .student_info .week-order {
    margin: 50px 0;
}
#mainContent .student_info .week-order .title {
    text-align: center;
    margin: 0 auto 25px;
    font-size: 20px;
    font-weight: 420;
    letter-spacing: 1.5px;
    color: #723300;
}
#mainContent .week-order table {
    margin: auto;
    width: 50%;
    font-size: 16.5px;
}
/*#mainContent .student_info table td,*/ #mainContent .week-order table td {
    line-height: 35px;
    border: 0.8px solid #c08c6d;
    text-align: center;
}
/* #mainContent .student_info table .item {
    height: 35px;
    text-align: center;
    font-weight: 450;
    background-color: #ffcab9;
} */
#mainContent .week-order table thead th {
    border: 0.8px solid #c08c6d;
    background-color: #ffcab9;
    line-height: 35px;
    font-weight: 450;
}
#mainContent .week-order tr:nth-child(odd) {
    background-color: #ffe3d7;
}
#mainContent .week-order table .ctr_b a {
    margin: 0 5px;
    padding: 3px 5px;
    font-size: 15px;
    background-color: #fff;
    border: 0.6px solid #777;
}
#mainContent .week-order .ctr_b a:hover {
    background-color: #868686;
    color: #fff;
}