/* top */
#container .top {
    background-image: url(../images/top_bgc-02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 70px;
    position: relative;
    box-shadow: 0 1px 4px #746353b7;
}
#container .top .logo {
    width: 180px;
    padding: 8px 0;
    margin-left: 15px;
    float: left;
}
#container .top .title {
    font-size: 25px;
    font-weight: 450;
    display: inline-block;
    position: absolute;
    bottom: 8px;
    padding-left: 8px;
    letter-spacing: 1px;    
}
#container .top ul {
    /* float: right; */
    display: inline-block;
    padding-right: 10px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
#container .top ul li {
    margin: 0 10px;
    font-size: 18px;
    text-align: right;
}
#container .top ul .date {
    font-size: 20px;
    font-weight: 400;
    color: #3f2806;
    /* background-color: #ffffff; */
}
/* #container .top ul li a {
    margin-right: 8px;
} */
#container .top ul li i {
    padding: 0 5px;
}
/* left_nav */
#container .nav_side {
    padding-top: 50px;
}
#container .nav_side ul {
    padding: 0 0 10px 0;
    margin-bottom: 10px;
}
#container .nav_side ul li {
    height: 35px;
    width: 100%;
}
#container .nav_side ul li::before {
    content:"";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
#container .nav_side ul li:hover {
    background-color: #ffedd9;
    border-left: 5px double #ffa986;
}
#container .nav_side ul li a {
    padding-left: 60px;
    font-size: 18px;
    display: inline-block; 
    vertical-align: middle;   
}
#container .nav_side h2 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #472000;
    padding-bottom: 10px;
    margin: 0 15px 10px 60px;
    border-bottom: 0.6px dotted #333;
}
#container .nav_side .permission {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #472000;
    padding-bottom: 10px;
    margin: 0 15px 10px 60px;
    cursor: pointer;
}
#container .nav_side .permission:hover {
    color: #7e3900;
}

#container .nav_side h2 i, #container .nav_side .permission i {
    padding-right: 5px;
    line-height: 30px;
}
/* content */
#mainContent {
    padding: 50px 50px 50px 80px;
}
#mainContent .start {
    width: 500px;
    height: 500px;
    margin: 80px auto;
    border-radius: 50%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.521),rgba(255, 255, 255, 0.521)), url(../images/photo-1112.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
#mainContent .start p {
    line-height: 500px;
    font-size: 120px;
    font-weight: 450;
    letter-spacing: 1.5px;
    color: #fff;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}
#mainContent ul {
    margin: 0 50px 50px 0;
    padding-top: 30px;
    font-size: 18px;
    float: right;
}
#mainContent ul li {
    /* float: left; */
    display: inline-block;
    margin: 0 10px;
}
#mainContent ul li i {
    margin-right: 5px;
}
#mainContent table {
    width: 80%;
    margin: auto;
}
#mainContent table th {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #472000;
    background-color: #fff7f5;
    border: 0.8px solid #777;
}
#mainContent table td {
    text-align: center;
    height: 60px;
    border: 0.8px solid #777;
}
#mainContent table tr:nth-child(even) {
    background-color: #dddddd;
}
