#mainContent {
    margin-top: 70px;
    padding: 50px 50px 50px 80px;
    min-width: 700px;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}
#mainContent .student-num {
    margin-top: 50px;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}
#mainContent .student-num p {
    display: inline-block;
    padding-right: 5px;
}
#mainContent .student-num input {
    line-height: 20px;
}
#mainContent .condition input[name="date"] {
    padding: 0 0 0 5px;
}
/*#mainContent .btn a,*/ #mainContent .condition .ctr_b a {
    display: inline-block;
    margin: 8px 5px 0;
    padding: 0 12px;
    background-color: #ffc880;
    border: 0.8px solid #ffb75a;
    /* border-radius: 30px; */
}
/*#mainContent .btn a:hover,*/ #mainContent .condition .ctr_b a:hover {
    background-color: #ad835c;
    color: #fff;
}
.condition table,.student_info .result  {
    margin: auto;
    min-width: 600px;
    font-size: 17px;
}

#mainContent .title {
    text-align: center;
    padding: 0 15px;
    font-size: 22.5px;
    font-weight: 450;
    letter-spacing: 1px;
    color: #723300;
    position: absolute;
    top: -22px;
    left: 5%;
    background-color: #fff;
}
#mainContent .student_info {
    margin-top: 50px;
    display: none;
}
#mainContent .data {
    width: 500px;
    padding: 25px;
    margin: 25px auto;
    position: relative;
    /* display: inline-block; */
    border: 1.5px solid #ccc;
    border-bottom: 5px double #ccc;
}
#mainContent .data ul {
    display: flex;
    justify-content: space-evenly;
}
#mainContent .data li {
    float: left;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 16.5px;
}
#mainContent .data ul .item {
    padding: 0 20px 0 0;
    border-right: 0.5px solid #bbb;
}
#mainContent .condition table td, #mainContent .student_info table td {
    padding-left: 8px;
    line-height: 40px;
    border: 0.8px solid #c08c6d;
    background-color: #fce2d7;
}
/* #mainContent .student_info table td {
    padding: 0;
    text-align: center;
    border: 0.8px solid #a76a47;
    background-color: #ffebe2;
} */
#mainContent .student_info table .item, #mainContent .condition table .item {
    height: 35px;
    text-align: center;
    background-color: #ffd8c6;
}
/* #mainContent .student_info table .data {
    border-bottom: 1.5px solid #a76a47;
} */
#mainContent .condition table input, #mainContent .condition table select {
    height: 25px;
    width: 60%;
    border: none;
    font-size: 17px;
}
#mainContent .condition .search_s {
    display: inline-block;
    margin: 0 10px ;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 15px;
    line-height: 22px;
    background-color: #a5eb6d;
    border: 0.8px solid #61d120;
    color: #462200;
}
#mainContent .condition .search_s:hover {
    background-color: #5e853e;
    color: #fff;
}
#mainContent .condition .ctr_b {
    text-align: center;
    padding: 30px 0 10px;
}
#mainContent .crossLine {
    height: 3px;
    margin: 30px 300px 30px;
    border-bottom: 1px dashed #aaaaaa;
    display: none;
}