#mainContent {
    margin-top: 70px;
    padding: 50px 50px 50px 80px;
    min-width: 700px;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}

/* 預約條件 */
#mainContent .student-num {
    margin-top: 50px;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}
#mainContent .student-num p {
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
}
#mainContent .student-num input {
    line-height: 20px;
}
#mainContent .condition #date-single {
    padding: 0 0 0 5px;
}
/*#mainContent .btn a,*/ #mainContent .condition .ctr_b button {
    display: inline-block;
    margin: 8px 5px 0;
    font-size: 16px;
    padding: 0 12px;
    background-color: #ffc880;
    border: 0.8px solid #ffb75a;
    /* border-radius: 30px; */
}
#mainContent .condition .ctr_b button:hover {
    background-color: #ad835c;
    color: #fff;
}
.status {
    color: rgb(255, 255, 255);
    padding: 2px 5px;
    margin-left: 5px;
    background-color: rgb(255, 0, 0);
}
/* .yes {
    color: rgb(255, 255, 255);
    padding: 2px 5px;
    margin-left: 5px;
    background-color: rgb(255, 0, 0);
    display: none;
}
.no {
    color: #fff;
    padding: 2px 5px;
    margin-left: 5px;
    background-color: rgb(0, 0, 255);
    display: none;
} */
.condition table, .student_info .result  {
    margin: auto;
    min-width: 600px;
    font-size: 17px;
}
#mainContent .title {
    text-align: center;
    padding: 0 15px;
    font-size: 22.5px;
    font-weight: 450;
    letter-spacing: 1px;
    color: #723300;
    position: absolute;
    top: -20px;
    left: 5%;
    background-color: #fff;
}
#mainContent .student_info {
    margin-top: 50px;
    display: none;
}
#mainContent .student-data {
    max-width: 600px;
    padding: 25px;
    margin: 25px auto;
    position: relative;
    text-align: center;
    border: 1.5px solid #ccc;
}
#mainContent .student-data ul {
    display: flex;
    justify-content: space-evenly;
}
#mainContent .student-data li {
    float: left;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
}
#mainContent .student-data ul .item {
    font-weight: 430;
    border-bottom: none;
}
#mainContent .condition table td, #mainContent .student_info table td {
    padding-left: 8px;
    line-height: 40px;
    border: 0.8px solid #c08c6d;
    background-color: #ffece3;
}
/* #mainContent .student_info table td {
    padding: 0;
    text-align: center;
    border: 0.8px solid #a76a47;
    background-color: #ffebe2;
} */
#mainContent .student_info table .item, #mainContent .condition table .item {
    height: 35px;
    text-align: center;
    background-color: #ffe5d6;
}
#mainContent .condition table input, #mainContent .condition table select {
    height: 25px;
    width: 60%;
    border: none;
    font-size: 17px;
}
#mainContent .condition .search_s {
    display: inline-block;
    margin: 0 10px ;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 15px;
    line-height: 22px;
    background-color: #a5eb6d;
    border: 0.8px solid #61d120;
    color: #462200;
}
#mainContent .condition .search_s:hover {
    background-color: #5e853e;
    color: #fff;
}
#mainContent .condition .ctr_b {
    text-align: center;
    padding: 30px 0 10px;
}
#mainContent .crossLine {
    height: 3px;
    margin: 30px 300px 30px;
    border-bottom: 1px dashed #aaaaaa;
    display: none;
}