#mainContent {
    margin-top: 70px;
    padding: 50px 20px;
    min-width: 700px;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}
/* 新增 */
/* .add-g {
    text-align: center;
} */
#mainContent .add-g table {
    margin: 80px auto;
    width: 760px;
}
.add-g table .item {
    text-align: center;
    min-width: 120px;
}
.add-g td {
    border: 0.8px solid #bbb;
    line-height: 30px;
}
.add-g .edit {
    padding: 0;
}
#mainContent .add-g ul {
    display: inline-block;
    text-align: left;
    margin: 0 5px;
    padding: 0;
    vertical-align: top;
    float: none;
    font-size: 16px;
}
#mainContent .add-g ul li {
    display: block;
    margin: 0;
}
.add-g input {
    margin-left: 5px;
    letter-spacing: 1px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
}
button {
    margin: 3px 5px;
}
.add-g #group {
    min-width: 580px;
    margin: 50px auto 0;
    text-align: center;
}
.add-g #group tr {
    height: 30px;
}
.add-g #group .p-item {
    text-align: left; 
}

/* edit lightBox */
#light-box {
    position: fixed;
    float: left;
    background-color: #e6e6e67e;
    width: 100%;
    height: 850px;
    z-index: 9999;
    display: none;
}
#light-box .border {
    max-width: 600px;
    min-height: 360px;
    border: 1.2px dotted #572006;
    border-radius:25px;
    position: relative;
    margin: 200px auto;
    background-color:#fff;
    /* display: none; */
}
#light-box h1 {
    position: absolute;
    display: inline-block;
    width: 320px;
    left: 15%;
    top: 15px;
    font-size: 28px;
    font-weight: 450;
    color: #641c00;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0) 45% ,#fff 70%); */
    letter-spacing: 1.5px;
    border-bottom: 0.8px dashed #641c00;
}
#light-box .fa-times-circle {
    font-size: 20px;
    float: right;
    margin: 12px 12px 0 0;
}
#light-box .fa-times-circle:hover {
    color: #ccc;
}
#light-box #table_1 {
    max-width: 420px;
    margin: 70px auto 15px;
}
#light-box #table_1 td {
    border: 0.8px solid #555;
    padding-left: 8px;
    height: 30px;
}
#light-box #table_1 .item {
    width: 150px;
    text-align:center;
    background-color: #97dddd;
}
#table_1 input {
    height: 25px;
    min-width: 100%;
    font-size: 16px;
    border: none;
}
#table_1 select {
    border: none;
    height: 25px;
    background-color: transparent;
}
textarea {
    margin: 10px 0 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
}
#light-box .ctr-btn {
    text-align: center;
    padding: 15px 0;
}
#light-box .ctr-btn a {
    margin: 0 8px;
    padding: 3px 10px;
    background-color: #ffb78e;
}
#light-box .ctr-btn a:hover {
    background-color: #77481b;
    color: #fff;
}