#mainContent {
    margin-top: 70px;
    padding: 50px 50px 50px 80px;
    min-width: 700px;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}
.location {
    margin: 0 50px 50px 0;
    padding-top: 30px;
    font-size: 18px;
    float: right;
    /* vertical-align: middle; */
}
.location li {
    display: inline-block;
    margin: 0 10px;
}
.location li i {
    margin-right: 5px;
}
#mainContent .location select {
    height: 25px;
    width: 130px;
    font-size: 16px;
    margin-top: 3px;
}
#mainContent .location #datepicker {
    /* height: 23px; */
    font-size: 16px;
}
/* 新增 */
/* .add-g {
    text-align: center;
} */
.add-g table {
    margin: auto;
    min-width: 550px;
}
.add-g table .item {
    text-align: center;
}
.add-g td {
    border: 0.8px solid #bbb;
}
.add-g ul {
    display: inline-block;
    text-align: left;
    margin: 0 5px;
    vertical-align: top;
}
.add-g #group {
    min-width: 580px;
    margin: 20px auto 0;
    text-align: center;
}
.add-g #group tr {
    height: 30px;
}