#mainContent {
    margin-top: 70px;
    padding: 50px 50px 50px 80px;
    min-width: 700px;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px; 
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}
.location {
    margin: 0 50px 50px 0;
    padding-top: 30px;
    font-size: 18px;
    float: right;
}
.location li {
    /* float: left; */
    display: inline-block;
    margin: 0 10px;
}
.location li i {
    margin-right: 5px;
}
.location select {
    height: 25px;
    width: 130px;
    font-size: 16px;
    margin-top: 3px;
}
/* input */
.search {
    text-align: center;
    font-size: 18px;
}
.search p {
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
}
.search input {
    line-height: 20px;
}
.control button {
    padding: 0px 12px;
    margin: 15px 5px 0;
    display: inline-block;
    font-size: 16px;
    background-color: #97c068;
    border: 0.5px solid #597538;
}
.control button:hover {
    background-color: #46704f;
    color: #fff;
}
/* 結果資料 */
#mainContent dd {
    display: none;
    /* text-align: center; */
}
#mainContent .data {
    width: 600px;
    padding: 25px;
    margin: 50px auto;
    position: relative;
    border: 1.5px solid #ccc;
}
#mainContent .data .title {
    position: absolute;
    top: -22px;
    left: 5%;
    font-size: 22.5px;
    letter-spacing: 1px;
    color: #723300;
    background-color: #fff;
    padding: 0 15px;
}
#mainContent .data #flex {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
#mainContent .data li {
    display: inline-block;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 17px;
    border-bottom: 1px solid #ccc;
}
#mainContent .data .item {
    font-weight: 430;
    border-bottom: none;
}
/* #mainContent .data .record {
    text-align: center;
} */

/* 表格顯示方式 */
#mainContent .ctr_btn {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
    font-size: 17px;
    text-align: left;
    position: relative;
}
/*#mainContent .ctr_btn a, */#mainContent .ctr_btn .condition {
    display: inline-block;
}
.ctr_btn .condition span, .ctr_btn .condition input[type="radio"]{
    vertical-align: middle;
    letter-spacing: 0.8px;
}
.ctr_btn .record {
    background-color: #ffe0cd;
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding: 3px 12px;
    letter-spacing: 0.8px;
    border: 0.8px solid #597538;
    border-radius: 25px;
    font-size: 15.5px;
}
.ctr_btn .record:hover {
    color: #fff;
    background-color: #386e49;
}
#mainContent .ctr_btn .condition li {
    /* float: left; */
    margin: 0 5px;
}
#mainContent .ctr_btn input {
    height: 25px;
    font-size: 15px;
    margin: 0 5px;
}
#mainContent .ctr_btn .condition input[name="date"] {
    padding: 0 0 0 3px;
}
#mainContent .ctr_btn .condition button {
    margin-left: 10px;
    font-size: 16px;
    background-color: #97c068;
    border: 0.5px solid #597538;
}
#mainContent .ctr_btn .condition button:hover {
    background-color: #cfdaa7;
}
#mainContent #table_ {
    display: none;  
}
#mainContent #table_2, #mainContent #table_ {
    margin: 10px auto;
    min-width: 600px;
}
#mainContent #table_2 th, #mainContent #table_ th {
    line-height: 35px;
    border: 0.8px solid #46704f;
    background-color: #b0df7c;
    font-weight: 420;
}
#mainContent #table_2 tr,#mainContent #table_ tr {
    line-height: 35px;
    text-align: center;
}
#mainContent #table_2 td, #mainContent #table_ td {
    border: 0.8px solid #46704f;
}