#mainContent {
    margin-top: 70px;
    padding: 50px 50px 50px 80px;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}
#mainContent ul {
    margin: 0 50px 50px 0;
    padding-top: 30px;
    font-size: 18px;
    float: right;
}
#mainContent ul li {
    /* float: left; */
    display: inline-block;
    margin: 0 10px;
}
#mainContent ul li i {
    margin-right: 5px;
}
#mainContent .location select {
    height: 25px;
    width: 130px;
    font-size: 16px;
    margin-top: 3px;
}
/* input */
#mainContent p {
    text-align: center;
    font-size: 17.5px;
}
#mainContent .btn {
    text-align: center;
    padding: 20px 0;
    margin: 0 250px;
}
#mainContent .btn button {
    padding: 1.5px 10px;
    margin: 10px 5px 0;
    display: inline-block;
    font-size: 16px;
    background-color: #97c068;
    border: 0.5px solid #597538;
}
#mainContent .btn button:hover {
    background-color: #46704f;
    color: #fff;
}
/* 結果資料 */
#mainContent dd {
    display: none;
}
#mainContent .data {
    width: 50%;
    padding: 25px;
    margin: 50px auto;
    position: relative;
    border: 1.5px solid #ccc;
    border-bottom: 5px double #ccc;
}
#mainContent .data .title {
    position: absolute;
    top: -22px;
    left: 5%;
    font-size: 22.5px;
    letter-spacing: 1px;
    color: #723300;
    background-color: #fff;
    padding: 0 15px;
}
#mainContent .data #flex {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 0 0 20px;
    width: 100%;
}
#mainContent .data li {
    display: inline-block;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 16.5px;
}
#mainContent .data .item {
    padding: 0 25px 0 0;
    border-right: 0.5px solid #bbb;
}
#mainContent .data .record {
    text-align: center;
}
#mainContent .data a {
    background-color: #ffe0cd;
    display: inline-block;
    padding: 3px 12px;
    letter-spacing: 0.8px;
    border: 0.8px solid #597538;
    border-radius: 25px;
    font-size: 15.5px;
}
#mainContent .ctr_btn {
    padding: 30px;
    font-size: 16px;
    position: relative;
    text-align: center;
}
#mainContent .ctr_btn a, #mainContent .ctr_btn .condition {
    display: inline-block;
    vertical-align: middle;
}
#mainContent .ctr_btn .condition li {
    float: left;
    margin: 0 5px;
}
#mainContent .ctr_btn .condition select, #mainContent .ctr_btn input {
    height: 30px;
    font-size: 15px;
    margin: 0 5px;
}
#mainContent .ctr_btn .condition input[name="date"] {
    padding: 0 0 0 3px;
}
/* #mainContent .ctr_btn a {
    background-color: #ffe0cd;
    padding: 0 10px;
    margin-left: 20px;
    letter-spacing: 0.8px;
    border: 0.8px solid #597538;
    border-radius: 25px;
    line-height: 30px;
    position: absolute;
    right: 25px;
} */
#mainContent .ctr_btn .condition button {
    margin-left: 10px;
    font-size: 16px;
    background-color: #97c068;
    border: 0.5px solid #597538;
}
#mainContent .ctr_btn .condition button:hover {
    background-color: #cfdaa7;
}

#mainContent #table_2 {
    margin: 10px auto;
    width: 60%;
}
#mainContent #table_2 th {
    line-height: 35px;
    border: 0.8px solid #46704f;
    background-color: #b0df7c;
    font-weight: 420;
}
#mainContent #table_2 tr {
    line-height: 35px;
    text-align: center;
}
#mainContent #table_2 td {
    border: 0.8px solid #46704f;
}
#mainContent .page-num {
    text-align: center;
    padding: 20px 0;
}
#mainContent .page-num a {
    padding: 0 10px;
}
#mainContent .page-num input {
    width: 50px;
}
#mainContent .page-num .fa-angle-left {
    padding-right: 5px;
}
#mainContent .page-num .fa-angle-right {
    padding-left: 5px;
}