#mainContent {
    margin-top: 70px;
    padding: 50px 50px 50px 80px;
    min-width: 700px;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}
#mainContent .location {
    margin: 0 50px 50px 0;
    padding-top: 30px;
    font-size: 18px;
    float: right;
}
#mainContent .location li, #mainContent .place-data li {
    display: inline-block;
    margin: 0 10px;
}
#mainContent .location li i {
    margin-right: 5px;
}
#mainContent .location select, #mainContent .location input {
    height: 23px;
    width: 140px;
    font-size: 16px;
    vertical-align: middle;
}
/* 現狀表格 */
#mainContent .place-data {
    margin: 0;
}
#mainContent #seat-info, #mainContent .seat-status {
    margin: 20px auto 30px;
    width: 750px;
    min-width: 600px;
}
#mainContent #seat-info th, #mainContent #seat-info td {
    line-height: 35px;
    border: 0.8px solid #aa9e68;
    text-align: center;
}
#mainContent #seat-info th {
    background-color: #fee7d6;
    font-weight: 420;
    font-size: 18px;
    letter-spacing: 1px;
}
#mainContent #seat-info input[type="text"] {
    width: 30%;
    text-align: center;
    border: 0.8px solid #edd;
}
#mainContent .choose {
    text-align: center;
}
#mainContent .choose select {
    /* float: right; */
    height: 25px;
    margin: 0 5px;
    letter-spacing: 0.8px;
    font-size: 16.5px;
}
#mainContent .seat-status thead th {
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: 420;
    border: 0.8px solid #aa9e68;
    font-size: 18px;
    background-color: #f3e6ba7a;
}
#mainContent .seat-status tr td {
    text-align: center;
    line-height: 30px;
    border: 0.8px solid #aa9e68;
}
#mainContent .seat-status .fa-edit {
    cursor: pointer;
}
#mainContent .edit {
    width: 600px;
}
#mainContent .seat-status .edit ul{
    float: left;
    width: 100%;
    text-align: left;
    padding-left: 15px;
}
#mainContent .edit .new-edit ul {
    /* margin: auto; */
    display: inline-block;
    text-align: left;
}
#mainContent .seat-status .edit ul .title {
    font-weight: 420;
    font-size: 18px;
    text-decoration-line: underline;
}
#mainContent .seat-status .edit .new-edit li input, #mainContent .seat-status .edit .new-edit li select {
    /* width:60%; */
    height: 22.5px;
}
#mainContent .seat-status tr:nth-child(even) {
    background-color: #f0e7d6d8;
}
#mainContent .seat-status tr .one  {
    background-color: #ffd7d7;
} 
#mainContent .seat-status tr .two {
    background-color: #ffdac2;
}
#mainContent .seat-status tr .three {
    background-color: #ffecac;
}
#mainContent .seat-status tr .four {
    background-color: #d1e9b3;
}
#mainContent .seat-status tr .five {
    background-color: #ace4df;
}
#mainContent .seat-status tr .none {
    background-color: #cfcfcf;
}
#mainContent .seat-status tr .normal {
    color: #000dc7;
}
#mainContent .seat-status tr .close {
    color: #6e3200;
}
#mainContent .seat-status tr .stay {
    color: #00810b;
}
#mainContent .seat-status tr .nouse {
    color: #c40000;
}