#mainContent {
    margin-top: 70px;
    padding: 50px 50px 50px 80px;
    min-width: 700px;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}
.location {
    margin: 0 50px 50px 0;
    padding-top: 30px;
    font-size: 18px;
    float: right;
    vertical-align: middle;
}
.location li {
    display: inline-block;
    margin: 0 10px;
}
.location li i {
    margin-right: 5px;
}
#mainContent .location select {
    height: 25px;
    width: 130px;
    font-size: 16px;
    margin-top: 3px;
}
#mainContent .location #datepicker {
    /* height: 23px; */
    font-size: 16px;
}

/* 查詢條件 */
.condition table {
    width: 550px;
    margin: auto;
    margin-top: 50px;
}
table .item {
    background-color: #ffe9df;
    text-align: center;
    width: 180px;
}
table td {
    border: 1px solid #856d51;
}
table select {
    margin-left: 8px;
    width: 250px;
    height: 22.5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #bbb;
    background-color: #ffffff00;
}
/* 條件按鈕 */
table .btn {
    border: none;
    text-align: center;
    padding-top: 15px;
}
.tkb {
    display: none;
}
/* .pavilion {
    display: none;
} */
.tab-list {
    clear: left;
    min-width: 650px;
    margin: 50px 30px 0 0;    
}
#mainContent .tab-list ul {
    height: 32px;
    border-bottom: 1px solid #c08c6d;
    border-left: 1px solid #c08c6d;
    float: none;
    margin: 0;
    padding: 0;
}
#mainContent .tab-list li {
    float: left;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    position: relative;
    margin: 0 0 -1px 0px;
    border: 1px solid #c08c6d;
    border-left: none;
    border-bottom: #c08c6d;
    background-color: #fde9dd;
}
#mainContent .tab-list li a {
    display: block;
    padding: 0 20px;
}
#mainContent .tab-list li a:hover {
    background-color: #967967;
    color: #fff;
}
#mainContent .tab-list ul .active a {
    background-color: #967967;
    color: #fff;
}
/* tab表格 */
.tab-content table {
    text-align: center;
    min-width: 450px;
    /* margin: 30px auto; */
}
.tab-content .name {
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    letter-spacing: 1px;
}
.tab-content table td {
    line-height: 28px;
}
.tab-content th {
    border: 0.8px solid #856d51;
    background-color: #fde9dd;
    font-weight: 430;
    letter-spacing: 1px;
}

table .course {
    width: 25%;
}
#now .today {
    margin: 30px auto;
}
.tab-content #pass {
    display: none;
 }
 @media screen and (min-width:768px){
    .tab-content {
        text-align: center;
    }
    .tab-content #pass .today, .tab-content #pass .pass {
        width: 50%;
        margin: 30px auto 0;
        /* display: inline-table; */
    }
 }
 @media screen and (min-width:1000px){
    .tab-content {
        text-align: center;
    }
    .tab-content #pass .today, .tab-content #pass .pass {
        min-width: 45%;
        max-width: 500px;
        display: inline-table;
        margin: 30px 2%;
    }
}