#mainContent {
    margin-top: 70px;
    padding: 50px 50px 50px 80px;
    min-width: 700px;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}
.location {
    margin: 0 50px 50px 0;
    padding-top: 30px;
    font-size: 18px;
    float: right;
}
.location li, #mainContent .place-data li {
    display: inline-block;
    margin: 0 10px;
}
.location li i {
    margin-right: 5px;
}
.location select, #mainContent .location input {
    height: 23px;
    width: 140px;
    font-size: 16px;
    vertical-align: middle;
}

/* 顯示資料 */
#mainContent .search {
    text-align: center;
    font-size: 18px;
}
#mainContent .search p {
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
}
#mainContent .search input {
    line-height: 20px;
}
#mainContent .search .control-bar button {
    padding: 0 12px ;
    margin: 15px 5px 0;
    line-height: 25px;
    font-size: 16px;
    display: inline-block;
    background-color: #ffc880;
    border: 0.8px solid #ffb75a;
}
.data {
    display: none;
}
dl #student_info {
    margin: 70px auto;
}
dl #student_info .border {
    border: 1.5px solid #ccc;
    /* border-bottom: 5px double #ccc; */
    position: relative;
    width: 600px;
    margin: auto;
    padding: 25px;
}
dl #student_info .title {
    position: absolute;
    top: -20px;
    left: 5%;
    padding: 0 15px;
    font-size: 22.5px;
    font-weight: 420;
    background-color: #fff;
    letter-spacing: 1px;
    color: #723300;
}
dl #student_info ul {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 35px;
}
dl #student_info ul li {
    border-bottom: 1px solid #ccc;
}
dl #student_info ul .item {
    font-weight: 430;
    border-bottom: none;
}
/* table */
#mainContent .data {
    padding: 0 10%;
    position: relative;
}
#mainContent table {
    margin: 10px auto 0;
    width: 100%;
    min-width: 600px;
}
#mainContent table th {
    font-weight: 420;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #fff1e1;
}
#mainContent table td, #mainContent table th {
    border: 0.8px solid #c08c6d;
    text-align: center;
}
#mainContent table td, #mainContent table tr {
    line-height: 30px;
}
#mainContent .data h3 {
    font-size: 22px; 
    font-weight: 420;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
#mainContent .data h3 i {
    margin: 0 5px;
}
#mainContent .sort {
    display: inline-block;
    line-height: 30px;
    position: absolute;
    right: 10%;
}
.tab-container {
    min-width: 680px;
}
#used-time{
    display: block;
    min-width: 680px;
}
#change-time{
    display: none;
    min-width: 550px;
}
#mainContent .data .lineCross {
    padding:  5px;
    margin: 30px 0;
    border-bottom: 1px solid #ccc;
}
/* 頁籤 */
.tabs {
    clear: left;
    min-width: 680px;
    margin: 10px 0 0px;    
}
.tabs ul {
    height: 32px;
    border-bottom: 1px solid #c08c6d;
    border-left: 1px solid #c08c6d;
}
.tabs li {
    float: left;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px;
    border: 1px solid #c08c6d;
    border-left: none;
    border-bottom: #c08c6d;
    background-color: #fde9dd;
}
.tabs li a {
    display: block;
    padding: 0 20px;
}
.tabs li a:hover {
    background-color: #967967;
    color: #fff;
}
.tabs ul .active a {
    background-color: #967967;
    color: #fff;
}
dd {
    margin: 0;
    padding: 0;
}
.data .condition {
    line-height: 35px;
    font-size: 17px;
    padding-bottom: 5px;
}
.condition span {
    margin: 0 5px 0 10px;
    vertical-align: middle;
}
.condition select {
    height: 21px;
    width: 15%;
}
.condition option {
    font-size: 15px;
    line-height: 18px;
}
.data .tab-container {
    border: 1px solid #c08c6d;
    clear: left;
    border-top: none;
    padding: 15px;
    width: 100%;
    margin-bottom: 50px;
    /* background-color: #aaa; */
}
.data table tr {
    border: 0.8px solid #222;
}
.data table td{
    border: 0.8px solid #222;
}