#mainContent {
    margin-top: 70px;
    padding: 50px 50px 50px 80px;
}
#mainContent .sub-title {
    margin:30px 50px 0 0;
    border-bottom: 1px dashed #9c9c9c;
    padding-left: 5px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 400;
}
#mainContent .location {
    margin: 0 50px 50px 0;
    padding-top: 30px;
    font-size: 18px;
    float: right;
}
#mainContent .location li {
    display: inline-block;
    margin: 0 10px;
}
#mainContent .location li i {
    margin-right: 5px;
}
#mainContent .location select {
    height: 22px;
    width: 130px;
    font-size: 16px;
}
dl {
    text-align: center;
    font-size: 16px;
    margin: 0;
}
dl p {
    display: inline-block;
    padding-right: 5px;
}
dl input {
    height: 23px;
}
dl .control-bar a {
    display: inline-block;
    margin: 10px 5px 0;
    padding: 0 12px;
    background-color: #ffc880;
    border: 0.8px solid #ffb75a;
}
dl .control-bar a:hover {
    background-color: #ad835c;
    color: #fff;
}
/* 現狀表格 */
dd {
    margin: 0;
}
dd table {
    margin: 50px auto 30px;
    width: 50%;
    font-size: 16px;
}
dd table .item {
    line-height: 35px;
    text-align: center;
    background-color: #ffded1;
    letter-spacing: 1px;
}
dd table td {
    border: 1px solid #ffb75a;
    padding-left: 8px;
    line-height: 35px;
}
dd table button {
    border: 1px solid #ebbe95;
    background-color: #fcddaf;
    float: right;
    line-height: 20px;
    margin: 6px 2px 5px;
    cursor: pointer;
}