.contentWrap {
    display: grid;
    grid-template-columns: 20% 80%;
}
.leftWrap, .rightWrap {
    display: grid;
}
.leftWrap {
    background-color: #FFEB99;
    height: 100vh;
}
.rightWrap {
    grid-template-rows: 10% 90%;
}