.conditionWrap {
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 20px;
    max-height: 80px;
}
.condition {
    margin: 2px 3px;
    padding: 10px 5px;
    max-height: 45px;
}
.spin {
    padding: 3px 15px;
    border-radius: 45px;
    background-color: #ddd;
}

.export {
    padding: 20px;
}

table {
    min-width: 800px;
    margin: auto;
    text-align: center;
}

th {
    border: 1px solid #555;
}

.platFuc {
    padding: 25px;
    margin-bottom: 20px;
    background-color: #d8d8d8;
    /* background-color: #FFFFEA; */
}