.conditionWrap {
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 20px;
}
.condition {
    margin: 2px 3px;
    padding: 10px 5px;
    max-height: 45px;
}
.spin {
    padding: 3px 15px;
    border-radius: 45px;
    background-color: #ddd;
}

.export {
    padding: 20px;
}